@import "../../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  --blue: #2a3475;
  --white: #ffffff;
  --gray: #eee5e5;
  --pink: #ff667b;
  --dark: #292929;
  --background: #111024;
}
html {
  height: 100%;
}

body {
  height: 100%;
  background: #007991; /* if the browser cant load the gradiant */
  background: linear-gradient(to left, #09203f, #537895);

  font-family: "Poppins";
  font-style: normal;
}
/* removes scrollbar but still able to scroll */
body::-webkit-scrollbar {
  display: none;
}
body h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 96px;
}

.nav_menu {
  margin: 5px;
  background-color: var(--white);
  border-radius: 19px;
  height: 50px;
}

#nav_icon {
  width: 50px;
  height: 50px;
}

.nav_left {
  text-align: center;
  height: 100%;
  width: 90px;
  background-color: var(--white);
  border-radius: 19px;
  margin: 5px;
}
#logo_header {
  margin: 5px;
  width: 30px;
  height: 30px;
}
.card-img-top {
  height: 250px;
  object-fit: cover;
}
.profile-header {
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding: 5px;
}
.user-logIn {
  display: none;
  margin: 5px;
  margin-right: 10px;
}
.fa-caret-down {
  margin-left: 5px;
}

.user_login {
  display: none;
}

#profile_header {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 66%;
}

.nav_left_icon {
  color: var(--dark);
  font-size: 20px;
  margin: 5px auto;
  padding: 10px;
  border-radius: 33%;
}
.active-icon {
  background-color: #5783db;
  color: var(--white);
}
.filter-text {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 25px;
}
.col-nav-left {
  min-height: 90vh;
  width: 100px;
}
#profile_avatar {
  max-height: 700px;
}
.md-4 p {
  font-size: 100px;
}
#img-spesific {
  max-height: 400px;
  object-fit: cover;
}
