@import "../../node_modules/bootstrap/scss/bootstrap.scss";

:root {
    --blue: #2A3475;
    --white: #ffffff;
    --gray: #eee5e5;
    --pink: #FF667B;
    --dark: #292929;
    --background: #111024;
}
html {
    height: 100%;
}

.btn-primary {
    background-color: #09203F;
    border: 1px solid;
    overflow: hidden;
    position: relative;
}


    
  

body {
    height: 100%;
    
    background: #007991;  /* fallback for old browsers */
    background: linear-gradient(to left, #09203F, #537895);
    
    
    
    

    font-family: 'Poppins';
    font-style: normal;
}
body h2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 2rem;
line-height: 96px;
}

.nav_menu {
    margin: 5px;
    background-color: var(--white);
    border-radius: 19px;
    height: 50px;
}


#nav_icon {
    width: 50px;
}
#search_field  {
    width: 100%;
    padding: 5px;
}
.searchbar {
    width: 100%;
}


.nav_left {
    text-align: center;
    height: 100%;
    width: 90px;
    background-color: var(--white);
    border-radius: 19px;
    margin: 5px;
}
#logo_header {
    margin: 5px;
    width: 30px;
    height: 30px;
    
}
.card-img-top {
    height: 250px;
    object-fit: cover;
    
}
.profile-header {
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding: 5px;
}
.user-logIn {
    display: none;
    margin: 5px;
    margin-right: 10px;
}
.fa-caret-down {
    margin-left: 5px;
}



.user_login {
    display: none;
}

#profile_header {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 66%;
}


.nav_left_icon {
    color: var(--dark);
    font-size: 20px;
    margin: 5px auto;
    padding: 10px;
    border-radius: 33%;
}
.active-icon {
    background-color: var(--pink);
    color: var(--white);
}

.col-nav-left {

	width: 100px;

}
.md-4 p {
    font-size: 100px;
}

@media only screen and (max-width: 768px) {

    .balance-container { 
        width: 300px;
    }
    .container-top-homepage {
        flex-direction: row;
    }
    .sort-collection {
        flex-direction: column;

    }    
    .sort-buttons button {
        width: 100%;
    }
    .sort-buttons {
        flex-direction: column;
    }
}
@media only screen and (min-width: 768px) {
    .nav-mobile {
        display: none;
    }
}



